 @import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');

:root {
  --yellow: #FFD72F;
  --blue: #2B4BB5;
  --light-blue: #7BC2FF;
  --white: white;
  --black: black;
  --font-family: "Bangers", -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-weight: normal;
}

body {
  background: var(--light-blue);
  font-family: var(--font-family);
  -moz-osx-font-smoothing: grayscale;
  color: var(--blue);
  font-size: 1.5em;
  margin: 20px;
}

img {
  max-width: 100%;
}

.main-header {
  text-align: center;
  margin: 0 0 40px 0;
}

.main-header .logo {
  margin-bottom: 20px;
}

.logo {
  text-indent: -9999em;
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url(../images/logo.png) no-repeat center center;
  background-size: contain;
  overflow: hidden;
  border-radius: 20px;
  border: 5px solid var(--black);
}

.about-app {
  max-width: 80%;
  display: block;
  margin: 0 auto;
}

.main-content {
  margin: 0 0 40px 0;
}

.screenshots {
  text-align: center;
}

.screenshots img {
  display: inline-block;
  max-width: 60%;
  box-shadow: 5px 5px 0 black;
  margin: 0 0 10px 0;
}

.stores {
  text-align: center;
  margin: 0 0 40px 0;
}

.store-title {
  margin: 0 0 20px 0;
  color: var(--black);
}

.store-item {
  box-shadow: 5px 5px 0 black;
  display: inline-block;
  padding: 20px;
  background: var(--blue);
  color: var(--white);
  text-decoration: none;
}

.main-footer {
  text-align: center;
}
.main-footer a {
  color: var(--black);
  text-decoration: none;
}

.privacy-policy {
  margin: 60px;
}
.privacy-policy h1 { margin: 0 0 20px 0; }
.privacy-policy h2 { margin: 0 0 20px 0; }
.privacy-policy h3 { margin: 0 0 20px 0; }
.privacy-policy p { margin: 0 0 20px 0; color: var(--black); }

@media (min-width: 768px) {
  body {
    font-size: 2em;
  }

  .logo {
    width: 200px;
    height: 200px;
  }

  .about-app {
    max-width: 500px;
  }

  .screenshots {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    max-width: 70%;
    margin: 0 auto;
  }

  .screenshots img {
    max-width: 100%;
  }
}
